<mat-card class="max-w-sm mx-auto my-4">
  <img
    mat-card-image
    class="card-image"
    src="/assets/image/marcus_vinicius.jpg"
    alt="Marcus Vinícius"
  />
  <mat-card-header>
    <mat-card-title>Marcus Vinícius da Rocha Gouveia Cardoso</mat-card-title>
    <mat-card-subtitle>
      Administrador e Consultor em Tecnologia
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions class="text-center">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a
        mat-icon-button
        [title]="socialLink.label"
        [attr.href]="socialLink.url"
        target="_blank"
      >
        <fa-icon [icon]="socialLink.icon"></fa-icon>
      </a>
    </ng-container>
  </mat-card-actions>
</mat-card>

<mat-accordion [multi]="true">
  <!-- Mini Bio -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>person</mat-icon>
        <span class="ml-4">Mini Bio</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Administrador, gestor de projetos e empreendedor do Drone Amazônia.</p>
    <p>
      Graduado em Administração pelo Centro Universitário São Lucas em Porto
      Velho/RO. Graduando em MBA em Informática Forense pela IPOG e Metodologia
      do Ensino Superior pela Sapiens, Porto Velho, Rondônia.
    </p>
    <p>
      Atualmete como Assessor Técnico Especial da Coordenação de Desenvolvimento
      de Políticas Públicas da Secretaria de Estado de Planejamento, Orçamento e
      Gestão do Governo de Rondônia. É docente como Instrutor de Gestão e
      Operação de Drones no SENAI Rondônia.
    </p>
    <p>
      Atou como Coordenador de Micro e Pequenas Empresas e Coordenador de
      Inteligência e Estratégia Empresarial, na Superintendência Estadual de
      Desenvolvimento e Infraestrutura de Rondônia. Empreendedor do Drone
      Amazônia, tem ampla experiência em governança, marketing digital,
      treinamento corporativo, projetos de inteligência de negócios,
      desenvolvimento de aplicações, automação de processos empresariais e
      palestras.
    </p>
  </mat-expansion-panel>

  <!-- Graduação -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>school</mat-icon>
        <span class="ml-4">Graduação</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <section id="graduacao" class="graduacao">
      <ul class="graduacao__list">
        <li class="graduacao__item">
          <span class="graduacao__nivel"> Pós-Graduação </span>
          <span class="graduacao__curso">
            MBA em Informática Forense (2020, Cursando)
          </span>
          <span class="graduacao__instituicao"> Ipog, Porto Velho/RO </span>
        </li>
        <li class="graduacao__item">
          <span class="graduacao__nivel"> Pós-Graduação </span>
          <span class="graduacao__curso">
            Metodologia do Ensino Superior (2021, Cursando)
          </span>
          <span class="graduacao__instituicao">
            Faculdade Sapiens, Porto Velho/RO
          </span>
        </li>
        <li class="graduacao__item">
          <span class="graduacao__nivel"> 3º Grau </span>
          <span class="graduacao__curso">
            Engenharia Elétrica (2012) Fundação Universidade Federal de Rondônia
          </span>
          <span class="graduacao__instituicao">
            Porto Velho/RO (Trancado)
          </span>
        </li>
        <li class="graduacao__item">
          <span class="graduacao__nivel"> 3º Grau </span>
          <span class="graduacao__curso"> Administração Geral (2008) </span>
          <span class="graduacao__instituicao">
            Centro Universitário São Lucas, Porto Velho/RO
          </span>
        </li>
      </ul>
    </section>
  </mat-expansion-panel>

  <!-- Formação Complementar -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>gpp_good</mat-icon>
        <span class="ml-4">Formação Complementar </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="formacao-complementar">
      <header class="flex flex-wrap justify-center">
        <button
          mat-button
          *ngFor="let categoria of fcCategorias()"
          (click)="fcFiltrar(categoria)"
          [ngClass]="{ 'bg-green-400': fcCategoriaSelecionada === categoria }"
        >
          {{ categoria }}
        </button>
      </header>
      <ul class="formacao-complementar__list">
        <li *ngFor="let fc of fcList">
          {{ fc.titulo }}, {{ fc.instituicao }} - {{ fc.ano }}
        </li>
      </ul>
    </section>
  </mat-expansion-panel>

  <!-- Projetos Realizados -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>work</mat-icon>
        <span class="ml-4">Projetos Realizados </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="projetos">
      <header class="flex flex-wrap justify-center">
        <button
          mat-button
          *ngFor="let projeto of projetoCategorias()"
          (click)="projetoFiltrar(projeto)"
        >
          {{ projeto }}
        </button>
      </header>

      <mat-list>
        <ng-container *ngFor="let projeto of projetoList">
          <mat-list-item (click)="verProjeto(projeto)">
            <mat-icon mat-list-icon>work</mat-icon>
            <div mat-line>{{ projeto.nome }}</div>
            <div mat-line>{{ projeto.ano }}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>

      <ng-template #verProjetoDialog>
        <h2 mat-dialog-title>{{ projetoSelecionado?.nome }}</h2>
        <mat-dialog-content>
          {{ projetoSelecionado?.descricao }}
          <div class="my-2" *ngIf="projetoSelecionado?.tecnologias">
            Utiliza tecnologias:
            {{ verProjetoTecnologias(projetoSelecionado) }}.
          </div>
        </mat-dialog-content>
        <mat-dialog-actions class="justify-end">
          <div *ngIf="projetoSelecionado?.link">
            <a
              mat-button
              [href]="projetoSelecionado?.link"
              target="_blank"
              class="bg-green-400"
              >Visitar projeto</a
            >
          </div>
          <button mat-button mat-dialog-close>Fechar</button>
        </mat-dialog-actions>
      </ng-template>
    </section>
  </mat-expansion-panel>

  <!-- Tech Skills -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>verified</mat-icon>
        <span class="ml-4">Tech Skills </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="tech-skill md:grid md:gap-4 md:grid-cols-2">
      <ng-container *ngFor="let cat of techskills">
        <mat-card>
          <mat-card-title>{{ cat?.nome }}</mat-card-title>
          <mat-card-content>
            <mat-list>
              <ng-container *ngFor="let skill of cat?.skills">
                <mat-list-item>
                  <div mat-line class="">{{ skill.nome }}</div>
                  <div mat-line>
                    <mat-icon *ngFor="let nivel of skillRanking(skill.nivel)">
                      star
                    </mat-icon>
                  </div>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </section>
  </mat-expansion-panel>

  <!-- Premiações -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>military_tech</mat-icon>
        <span class="ml-4">Eventos</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="tech-skill md:grid md:gap-4 md:grid-cols-2">
      <mat-list>
        <ng-container *ngFor="let evento of eventos">
          <a mat-list-item [attr.href]="evento.url" target="_blank">
            <div mat-line>{{ evento.titulo }}</div>
            <div mat-line>{{ evento.subtitulo }}</div>
          </a>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </section>
  </mat-expansion-panel>
</mat-accordion>
